<a href="https://colab.research.google.com/github/idhanth17/Fleet-Management/blob/main/Fleet_Management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("syednaveed05/logistics-fleet-data")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/syednaveed05/logistics-fleet-data?dataset_version_number=1...

100%|██████████| 2.79M/2.79M [00:00<00:00, 132MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure
import seaborn as sns

In [ ]:
import os
for dirname, _, filenames in os.walk('/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/DimensionTables.xlsx
/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/fCosts.xlsx
/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/fFreight.csv

In [ ]:
dimension_tab = pd.read_excel('/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/DimensionTables.xlsx')
dimension_tab2 = pd.read_excel('/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/DimensionTables.xlsx', sheet_name = 'Vehicles')
dimension_tab3 = pd.read_excel('/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/DimensionTables.xlsx', sheet_name = 'Customers')
f_cost_1 = pd.read_excel('/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/fCosts.xlsx', header=1)
f_details_1 = pd.read_csv('/root/.cache/kagglehub/datasets/syednaveed05/logistics-fleet-data/versions/1/fFreight.csv')

In [ ]:
f_details_1.head(3)

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
0,2018/01/02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,"7,42","2,5",3,"247,39"
1,2018/01/02,22346,23,774507,02/01/2018:MMA-4836,Enders,"3,54","2,62",3,"118,05"
2,2018/01/02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,"8,98","5,54",9,"299,01"

In [ ]:
f_cost_1.drop([193], axis= 0, inplace = True)

In [ ]:
f_cost_1.head(3)

,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
0,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
1,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
2,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331

In [ ]:
f_details_1.isnull().sum()

Date              0
Customer ID       0
Truck ID          0
Invoice Number    0
Freight ID        0
City              0
Net Revenue       0
Weight (Kg)       0
Weight (Cubic)    0
Goods Value       0
dtype: int64

In [ ]:
f_cost_1.isnull().sum()

Date           1
Truck ID       2
Drive ID       2
KM Traveled    2
Liters         2
Fuel           2
Maintenance    2
Fixed Costs    2
dtype: int64

In [ ]:
f_cost_1 = f_cost_1.dropna()
f_cost_1.reset_index()

,index,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
0,0,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
1,1,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
2,2,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
3,3,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
4,4,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638
...,...,...,...,...,...,...,...,...,...
291,293,2019-08-01 00:00:00,4,7,2202,467.56,1483.95,869.21,7870.687635
292,294,2019-08-01 00:00:00,34,13,5221,1174.76,3895.92,1148.01,8947.469745
293,295,2019-08-01 00:00:00,17,5,4468,1992.37,6319.54,1565.36,11456.70372
294,296,2019-08-01 00:00:00,23,31,3568,757.22,2434.89,510.34,7487.371638
295,297,2019-08-01 00:00:00,33,24,3196,608.55,2155.36,538.72,8171.184135

In [ ]:
dimension_tab3

       Customer ID            City State  Latitude  Longitude
0                5         Mineola    KY   38.8881   -91.5714
1                6         Mineola    KY   38.8881   -91.5714
2               21         Mineola    KY   38.8881   -91.5714
3               34         Mineola    KY   38.8881   -91.5714
4               43         Mineola    KY   38.8881   -91.5714
...            ...             ...   ...       ...        ...
43905        43898       Dalecrest    OH   38.8144   -77.1039
43906        43899       Glen Isle    DE   38.9578   -76.5906
43907        43901           Milne    IN   39.2631   -88.7922
43908        43905  Campbellsville    WY   37.3433   -85.3419
43909        43906  Campbellsville    WY   37.3433   -85.3419

[43910 rows x 5 columns]

In [ ]:
f_cost_2 = f_cost_1.drop(index = 1)
f_cost_2.reset_index()
f_cost_2

,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
0,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
2,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
3,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
4,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
5,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638
...,...,...,...,...,...,...,...,...
294,2019-08-01 00:00:00,4,7,2202,467.56,1483.95,869.21,7870.687635
295,2019-08-01 00:00:00,34,13,5221,1174.76,3895.92,1148.01,8947.469745
296,2019-08-01 00:00:00,17,5,4468,1992.37,6319.54,1565.36,11456.70372
297,2019-08-01 00:00:00,23,31,3568,757.22,2434.89,510.34,7487.371638
298,2019-08-01 00:00:00,33,24,3196,608.55,2155.36,538.72,8171.184135

In [ ]:
f_cost_2.iloc[0:196]

,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
0,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
2,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
3,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
4,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
5,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638
...,...,...,...,...,...,...,...,...
196,2019-01-01 00:00:00,20,12,4382,755.66,2795.55,817.84,12336.9
197,2019-01-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,13665.45
198,2019-01-01 00:00:00,29,21,2533,496.55,1857.72,746.49,11347.5
199,2019-02-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,19484.55
200,2019-02-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,15736.05

In [ ]:
f_cost_2.drop([0], axis= 0, inplace = True)
f_cost_2.reset_index()

,index,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
0,2,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
1,3,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
2,4,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
3,5,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638
4,6,2018-01-01 00:00:00,22,14,5074,1000.59,3200.11,416.48,7064.379138
...,...,...,...,...,...,...,...,...,...
288,294,2019-08-01 00:00:00,4,7,2202,467.56,1483.95,869.21,7870.687635
289,295,2019-08-01 00:00:00,34,13,5221,1174.76,3895.92,1148.01,8947.469745
290,296,2019-08-01 00:00:00,17,5,4468,1992.37,6319.54,1565.36,11456.70372
291,297,2019-08-01 00:00:00,23,31,3568,757.22,2434.89,510.34,7487.371638
292,298,2019-08-01 00:00:00,33,24,3196,608.55,2155.36,538.72,8171.184135

In [ ]:
f_cost_2['Date'] = pd.to_datetime(f_cost_2['Date'])
f_cost_2['KM Traveled'] = f_cost_2['KM Traveled'].astype(str).astype(int)
f_cost_2['Liters'] = f_cost_2['Liters'].astype(str).astype(float)
f_cost_2['Fuel'] = f_cost_2['Fuel'].astype(str).astype(float)
f_cost_2['Maintenance'] = f_cost_2['Maintenance'].astype(str).astype(float)
f_cost_2['Fixed Costs'] = f_cost_2['Fixed Costs'].astype(str).astype(float)

In [ ]:
f_details_1['Net Revenue'] = f_details_1['Net Revenue'].replace(',', '.',regex= True)
f_details_1['Weight (Kg)'] = f_details_1['Weight (Kg)'].replace(',', '.',regex= True)
f_details_1['Weight (Cubic)'] = f_details_1['Weight (Cubic)'].replace(',', '.',regex= True)
f_details_1['Goods Value'] = f_details_1['Goods Value'].replace(',', '',regex= True)
f_details_1.head(4)

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
0,2018-01-02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,7.42,2.50,3.0,247.39
1,2018-01-02,22346,23,774507,02/01/2018:MMA-4836,Enders,3.54,2.62,3.0,118.05
2,2018-01-02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,8.98,5.54,9.0,299.01
3,2018-01-02,1929,23,774626,02/01/2018:MMA-4836,Enders,12.49,7.80,9.0,416.27

In [ ]:
f_details_1['Date'] = pd.to_datetime(f_details_1['Date'])
f_details_1['Net Revenue'] = f_details_1['Net Revenue'].astype(str).astype(float)
f_details_1['Weight (Kg)'] = f_details_1['Weight (Kg)'].astype(str).astype(float)
f_details_1['Weight (Cubic)'] = f_details_1['Weight (Cubic)'].astype(str).astype(float)
f_details_1['Goods Value'] = f_details_1['Goods Value'].astype(str).astype(float)
f_details_1['Year'] = f_details_1['Date'].dt.year

In [ ]:
f_details_1['Net Revenue'] = f_details_1['Net Revenue'] *1000
f_details_1

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value,Year
0,2018-01-02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,7420.0,2.50,3.00,247.39,2018
1,2018-01-02,22346,23,774507,02/01/2018:MMA-4836,Enders,3540.0,2.62,3.00,118.05,2018
2,2018-01-02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,8980.0,5.54,9.00,299.01,2018
3,2018-01-02,1929,23,774626,02/01/2018:MMA-4836,Enders,12490.0,7.80,9.00,416.27,2018
4,2018-01-02,6198,23,774623,02/01/2018:MMA-4836,Enders,2490.0,8.55,9.00,82.90,2018
...,...,...,...,...,...,...,...,...,...,...,...
92055,2019-08-31,23984,19,1049953,31/08/2019:MDB-1602,Bloom,63860.0,77.13,77.13,4763.67,2019
92056,2019-08-31,23984,23,1049950,31/08/2019:MMA-4836,Bloom,63860.0,128.86,128.86,7792.43,2019
92057,2019-08-31,23984,23,1049949,31/08/2019:MMA-4836,Bloom,63860.0,333.63,333.63,14376.69,2019
92058,2019-08-31,23984,45,1049954,31/08/2019:QJP-8960,Bloom,63860.0,85.52,85.52,5886.72,2019
92059,2019-08-31,33347,20,1049829,31/08/2019:MML-5482,Wheatland,96940.0,33.24,57.00,1938.76,2019

In [ ]:
f_details_2 = f_details_1.merge(dimension_tab2,how = 'left', on = 'Truck ID' )
f_details_3 = f_details_2.merge(dimension_tab3,how = 'left', on = 'Customer ID' )
f_details_4 = f_details_3.rename(columns={"Year_x": "Year", "Year_y": "Truck Age" , 'City_x' : 'City'})
f_details_4.drop('City_y', axis = 1, inplace = True)
f_details_4.head()

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value,Year,Plate,Brand,Truck Type,Trailers Type,Truck Age,State,Latitude,Longitude
0,2018-01-02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,7420.0,2.50,3.0,247.39,2018,MMA-5946,VW,TRAILER,Fridge,2014,OK,35.1214,-77.8661
1,2018-01-02,22346,23,774507,02/01/2018:MMA-4836,Enders,3540.0,2.62,3.0,118.05,2018,MMA-4836,VW,TRAILER,Fridge,2014,WV,35.3267,-92.2283
2,2018-01-02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,8980.0,5.54,9.0,299.01,2018,MMA-4836,VW,TRAILER,Fridge,2014,OK,38.6636,-78.6264
3,2018-01-02,1929,23,774626,02/01/2018:MMA-4836,Enders,12490.0,7.80,9.0,416.27,2018,MMA-4836,VW,TRAILER,Fridge,2014,WV,35.3267,-92.2283
4,2018-01-02,6198,23,774623,02/01/2018:MMA-4836,Enders,2490.0,8.55,9.0,82.90,2018,MMA-4836,VW,TRAILER,Fridge,2014,WV,35.3267,-92.2283

In [ ]:
f_details_4_Trips = f_details_4.groupby('Truck Type')['Plate'].count()
f_details_4_Trips1 = f_details_4_Trips.reset_index()
f_details_4_Trips1

     Truck Type  Plate
0           BOX  15153
1  SEMI-TRAILER   2941
2       TRACTOR    711
3       TRAILER  73255

In [ ]:
f_cost_3 = f_cost_2.merge(dimension_tab2, how = 'left', on = 'Truck ID')
f_cost_4 = f_cost_3.rename(columns={"Drive ID": "Driver ID"})
f_cost_4 = f_cost_4.merge(dimension_tab, how = 'left', on = 'Driver ID')
f_cost_4.head(3)

,Date,Truck ID,Driver ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs,Plate,Brand,Truck Type,Trailers Type,Year,Driver
0,2018-01-01,6,4,3816,899.14,2813.70,1561.78,6092.156655,MHN-5539,VW,BOX,Fridge,2010,Karol Woods
1,2018-01-01,17,9,7116,2128.46,6491.00,1324.12,11930.903310,MJI-0517,VW,TRACTOR,Dry,2011,Kenzie Macdonald
2,2018-01-01,19,11,2724,669.73,2123.58,560.17,7428.016155,MDB-1602,VW,BOX,Reefer,2013,Maheen Nicholls

In [ ]:
f_cost_TruckID = f_cost_4.groupby(['Truck ID','Truck Type','Plate'])[['KM Traveled', 'Liters', 'Fuel', 'Maintenance', 'Fixed Costs']].sum()
f_details_TruckID = f_details_4.groupby(['Truck ID','Truck Type','Plate'])[['Net Revenue', 'Weight (Kg)', 'Weight (Cubic)', 'Goods Value']].sum()
merged_log = f_cost_TruckID.merge(f_details_TruckID, how='inner', on=['Truck ID', 'Truck Type', 'Plate'])
merged_log.head(3)

,,,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
Truck ID,Truck Type,Plate,,,,,,,,,
2,SEMI-TRAILER,MJD-6976,104530,30372.53,99444.74,24815.92,216387.179745,466361310.0,834676.98,1177795.15,11211220.97
3,SEMI-TRAILER,MJT-4829,69724,19712.35,64660.08,22806.11,147388.142915,486007640.0,910298.31,1254899.18,12937465.35
4,TRAILER,MHJ-9634,48501,8422.50,26939.54,16228.87,111750.936440,244193290.0,293797.25,440123.92,7036593.11

In [ ]:
f_cost_DriverID = f_cost_4.groupby(['Driver ID'])[['KM Traveled', 'Liters', 'Fuel', 'Maintenance', 'Fixed Costs']].sum().reset_index()
f_cost_DriverID = f_cost_DriverID.merge(dimension_tab, on = 'Driver ID', how = 'left')
f_cost_DriverID

,Driver ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs,Driver
0,1,84336,22028.36,69797.78,41069.24,273320.170825,No Driver
1,2,104530,30372.53,99444.74,24815.92,216387.179745,Ridwan Greaves
2,3,59494,10358.11,33160.48,13806.50,114788.698931,Efan Archer
3,4,7073,1762.95,5748.80,4930.71,18515.803965,Karol Woods
4,5,111137,36588.74,122235.96,28661.27,242129.188770,Amman Vega
5,7,11503,2194.32,7199.44,5095.61,37243.433184,Nikola Weiss
6,8,19657,4303.04,14680.56,2498.39,33740.669355,Tierney Reynolds
7,9,27457,8002.54,25388.01,9709.26,71905.317360,Kenzie Macdonald
8,11,109887,26421.19,90907.54,15013.73,204298.573530,Maheen Nicholls
9,12,89585,15622.88,55212.11,15513.38,210121.696930,Stevie Schofield
10,13,22044,5242.98,17646.60,6364.99,45930.171225,Asha Cruz
11,14,111863,21750.87,73196.86,12814.22,190085.133343,Yasin Buck
12,15,40210,8305.86,28029.31,8336.19,72016.990149,Ubaid Key
13,16,38884,9509.40,32075.39,3420.62,64022.184420,Idris Alston
14,20,31924,6651.71,21601.12,10968.99,70859.653250,Montell Winters
15,21,49284,9556.69,32867.20,11717.12,146622.076267,Arslan Cooley
16,22,16662,3097.22,11180.25,1907.88,21349.602414,Salahuddin Arellano
17,23,21593,4131.46,14811.14,10800.06,35011.808187,Frederick Watt
18,24,50493,9140.92,31197.22,7556.88,82639.873653,Marcel Wormald
19,25,27126,6411.85,22201.73,6029.28,58254.561526,Gino Boone
20,26,31670,5637.24,19392.27,7272.94,109757.034442,Nora Kerr
21,27,28516,5797.71,19966.80,4773.96,108269.725846,Kenny Todd
22,30,39245,7469.00,24658.93,7474.87,86703.858024,Kiah O'Connor
23,31,34406,6058.13,20584.03,4566.54,64888.808527,Riyad Harris

In [ ]:
dimension_tab3_city_group = dimension_tab3.groupby(['City','Latitude', 'Longitude'])['Customer ID'].nunique().reset_index()
dimension_tab3_city_group

                      City  Latitude  Longitude  Customer ID
0              Aa Junction   36.0797   -90.9397           24
1    Airport Road Addition   27.2197   -98.0992           15
2           Alfalfa Center   40.6922   -99.1789           34
3                  Alpaugh   35.8878  -119.4860          110
4            Altamaha Park   31.4264   -81.6072           54
..                     ...       ...        ...          ...
549         Woodlawn Manor   38.7111   -77.1192           24
550                Woodlyn   39.5700   -83.1142           54
551              Woodstock   43.4725   -90.4272           59
552              Woolworth   31.6331   -90.2733            1
553           Yucca Valley   34.1142  -116.4310          880

[554 rows x 4 columns]

In [ ]:
f_details_CustomerID = f_details_4.groupby(['City'])[['Weight (Kg)', 'Weight (Cubic)', 'Goods Value']].sum().reset_index()
f_details_CustomerID = f_details_4.groupby(['City'])[['Weight (Kg)', 'Weight (Cubic)', 'Goods Value']].sum().reset_index()
f_details_CustomerID = f_details_CustomerID.merge(dimension_tab3_city_group, on = 'City', how = 'left')
f_details_CustomerID

,City,Weight (Kg),Weight (Cubic),Goods Value,Latitude,Longitude,Customer ID
0,Aa Junction,4443.98,4684.65,32853.06,36.0797,-90.9397,24
1,Airport Road Addition,1176.30,1526.60,23280.36,27.2197,-98.0992,15
2,Alfalfa Center,434.91,736.19,4666.92,40.6922,-99.1789,34
3,Alpaugh,1057.80,1099.53,5306.12,35.8878,-119.4860,110
4,Altamaha Park,10853.40,15131.79,213421.15,31.4264,-81.6072,54
...,...,...,...,...,...,...,...
291,Woodford,66.02,104.93,2211.60,33.4042,-86.7236,4
292,Woodland Heights,39954.94,56373.26,718556.09,33.3903,-111.7570,331
293,Woodlawn Manor,86.84,94.14,979.47,38.7111,-77.1192,24
294,Woodstock,461.59,746.86,5310.61,43.4725,-90.4272,59
295,Yucca Valley,390886.18,492764.53,5291670.51,34.1142,-116.4310,880

In [ ]:
merged_log['KM per Liter'] = merged_log['KM Traveled'] / merged_log['Liters']
merged_log['Maintenance per KM'] = merged_log['Maintenance'] / merged_log['KM Traveled']
merged_log['Total Costs'] = merged_log['Fuel'] + merged_log['Maintenance'] + merged_log['Fixed Costs'].astype(int)
merged_log['Costs per KM'] = merged_log['Total Costs'] / merged_log['KM Traveled']
merged_log['Costs per kg'] = merged_log['Total Costs'] / merged_log['Weight (Kg)']
merged_log['Revenue per KM'] = merged_log['Net Revenue'] / merged_log['KM Traveled']
merged_log['Revenue per kg'] = merged_log['Maintenance'] / merged_log['Weight (Kg)']
merged_log['Net Profit'] = merged_log['Net Revenue'] - merged_log['Total Costs'].astype(int)
merged_log['Fuel costs per KM'] = merged_log['Fuel'] / merged_log['KM Traveled']
merged_log['Fixed costs per KM'] = merged_log['Fixed Costs'] / merged_log['KM Traveled']

merged_log2 = merged_log.reset_index()

merged_log2.head()

,Truck ID,Truck Type,Plate,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs,Net Revenue,Weight (Kg),...,KM per Liter,Maintenance per KM,Total Costs,Costs per KM,Costs per kg,Revenue per KM,Revenue per kg,Net Profit,Fuel costs per KM,Fixed costs per KM
0,2,SEMI-TRAILER,MJD-6976,104530,30372.53,99444.74,24815.92,216387.179745,466361310.0,834676.98,...,3.441597,0.237405,340647.66,3.258851,0.408119,4461.506840,0.029731,466020663.0,0.951351,2.070096
1,3,SEMI-TRAILER,MJT-4829,69724,19712.35,64660.08,22806.11,147388.142915,486007640.0,910298.31,...,3.537072,0.327091,234854.19,3.368341,0.257997,6970.449773,0.025053,485772786.0,0.927372,2.113880
2,4,TRAILER,MHJ-9634,48501,8422.50,26939.54,16228.87,111750.936440,244193290.0,293797.25,...,5.758504,0.334609,154918.41,3.194128,0.527297,5034.809385,0.055238,244038372.0,0.555443,2.304096
3,5,TRAILER,MKP-6610,16735,3177.24,10218.76,7748.33,51577.283463,53182760.0,68609.53,...,5.267150,0.463001,69544.09,4.155607,1.013621,3177.936062,0.112934,53113216.0,0.610622,3.082001
4,6,BOX,MHN-5539,4823,1143.32,3569.24,3657.55,12479.978310,28282360.0,72960.54,...,4.218417,0.758356,19705.79,4.085795,0.270088,5864.059714,0.050131,28262655.0,0.740046,2.587597

In [ ]:
pd.set_option('display.max_columns', None)
merged_log2.head(2)

,Truck ID,Truck Type,Plate,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value,KM per Liter,Maintenance per KM,Total Costs,Costs per KM,Costs per kg,Revenue per KM,Revenue per kg,Net Profit,Fuel costs per KM,Fixed costs per KM
0,2,SEMI-TRAILER,MJD-6976,104530,30372.53,99444.74,24815.92,216387.179745,466361310.0,834676.98,1177795.15,11211220.97,3.441597,0.237405,340647.66,3.258851,0.408119,4461.506840,0.029731,466020663.0,0.951351,2.070096
1,3,SEMI-TRAILER,MJT-4829,69724,19712.35,64660.08,22806.11,147388.142915,486007640.0,910298.31,1254899.18,12937465.35,3.537072,0.327091,234854.19,3.368341,0.257997,6970.449773,0.025053,485772786.0,0.927372,2.113880

In [ ]:
truck_type_analysis = merged_log2.groupby('Truck Type')[['Costs per KM', 'Maintenance per KM', 'Fuel costs per KM', 'Fixed costs per KM']].mean()
truck_type_analysis

,Costs per KM,Maintenance per KM,Fuel costs per KM,Fixed costs per KM
Truck Type,,,,
BOX,3.306925,0.310087,0.786603,2.210279
SEMI-TRAILER,6.928976,0.759248,0.963874,5.205868
TRACTOR,3.701182,0.299977,1.119682,2.281525
TRAILER,3.133930,0.228937,0.621443,2.283565